body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(7, 6, 6);
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.player,
.enemy,
.bullet,
.enemy-bullet {
    position: absolute;
}

.player {
    width: 56px;
    height: 100px;
    background: url('images/whiskas.png');
    background-size: 100% 100%;
}

.enemy {
    width: 50px;
    height: 50px;
    background: url('images/pop-cat.gif');
    background-size: 100% 100%;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgb(122, 59, 0);
    border-radius: 50%;
}

.enemy-bullet {
    width: 20px;
    height: 20px;
    font-size: larger;
    /* background-color: rgb(255, 0, 0); */
    border-radius: 50%;
}

#pause-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    max-width: 300px;
    transform: translate(-50%, -50%);
    color: white;
    background: grey;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
    display: none;
    z-index: 100;
}

#hud {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 100;
}

#hud>div {
    margin-bottom: 5px;
}

#popup-text {
    margin-bottom: 15px;
}